ul.messages {
    list-style: none;
    padding: 0;
}
#reviews .modal-dialog div.modal-header button.close span{
    background: #fff;
    color: #cbcbcb;
    font-size: 21px;
}
#reviews .modal-dialog .btn.btn-danger{
    background: #d9534f;
    border-radius: 4px;
}
#reviews .modal-dialog .btn.btn-secondary{
    background: #ddd;
    border-radius: 4px;
    color: #000;
}
#reviews form.form-group textarea{
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form.form-group ul {
    display: block;
}

form.form-group p input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form.form-group p textarea, select{
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}