{% extends 'base.html' %}

{% load static %}

{% load mathfilters %}

{% block title %}
    {{ user }}'s {{ title }} | {{ block.super }}
{% endblock %}

{% block body %}

    <br>
    <h3 class="text-center">{{ user }}'s {{ title }}</h3>
    <br>
    <br>
    <br>
    {% if orders %}
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Status</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Total</th>
            <th>Order Updated</th>
            <th>Order Date</th>
          </tr>
        </thead>
        <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.name }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.discount }}</td>
            <td>{{ order.price |mul:order.discount |div:100 |sub:order.price |mul:-1 |mul:order.quantity }}</td>
{#                            <td>{{ (order.price - order.discount) * order.quantity }}</td>#}
            <td>{{ order.updated | timesince }}</td>
            <td>{{ order.added | timesince }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    {% else %}
        <h3 class="text-center">You have not {{ title }} yet!</h3>
    {% endif %}

{% endblock %}