<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% include 'includes/css.html' %}
        <title>{% block title %}OSAMA MOHAMED E-commerce{% endblock %}</title>
    <style>
        #reviews .modal-dialog div.modal-header button.close span{
            background: #fff;
            color: #cbcbcb;
            font-size: 21px;
        }
        #reviews .modal-dialog .btn.btn-danger{
            background: #d9534f;
            border-radius: 4px;
        }
        #reviews .modal-dialog .btn.btn-secondary{
            background: #ddd;
            border-radius: 4px;
            color: #000;
        }
    </style>
    </head>
    <body>
        <div class="container">
            {% include 'includes/nav_bar.html' %}
            {% include 'includes/messages.html' %}
            {% block body %}
            {% endblock %}
        </div>
        {% include 'includes/js.html' %}
    </body>
</html>