<p><b>Write Your Review</b></p>
<form action="{% url 'reviews:add' id=product.id %}" method="POST" class="form-group">
    {% csrf_token %}
    <textarea name="review" cols="102" rows="6"></textarea>
    <br>
    <b>Rate: </b> &emsp;
    <select name="rate" style="width: 80px;" class="btn btn-default dropdown-toggle">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <br>
    <br>
    <button type="submit" class="btn btn-primary pull-left">
        Add Review
    </button>
</form>