{% extends 'base.html' %}

{% load static %}

{% load mathfilters %}

{% block title %}
    {{ product.name }}'s Detail | {{ block.super }}
{% endblock %}

{% block body %}

	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categories</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->

                            {% for category in categories %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="{{ category.get_absolute_categories_url }}">{{ category }} &emsp; ({{ category.number_of_products }})</a></h4>
                                    </div>
                                </div>
                            {% endfor %}

						</div><!--/category-products-->



					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-12" style="margin-bottom: 50px;">
							<div class="view-product">
								<img src="{{ product.image.url }}" />
                                <a href="{{ product.image.url }}"><h3>ZOOM</h3></a>
							</div>
						</div>

						<div class="col-sm-12">
							<div class="product-information"><!--/product-information-->
								<img src="{% static 'new.jpg' %}" class="newarrival" alt="" />
								<h2>{{ product.name }}</h2>
								<p>Web ID: {{ product.id }}</p>
{#								<img src="../../static/user/images/product-details/rating.png" alt="" />#}
								<span>
									<span>&#36; {{ product.price }}</span>
{#									<label>Quantity:</label>#}
{#									<input type="text" value="3" />#}
                                    {% if product.quantity == 1 or product.quantity > 1  %}
{#									<a href="#" class="btn btn-fefault cart" style="margin-top: 4px;">#}
{#										<i class="fa fa-shopping-cart"></i>#}
{#										Add to cart#}
{#									</a>#}
                                        {% if request.user.is_authenticated %}
                                            <form action="{% url 'orders:order' id=product.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ product.id }}" name="id">
                                                <button class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
{#										    <a href="{% url 'orders:order' id=product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
                                            </form>
                                        {% else %}
                                            <a href="{% url 'accounts:login' %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Log In to buy</a>
                                        {% endif %}
                                    {% elif product.quantity == 0 %}
                                        <a href="" class="btn btn-danger" style="margin-top: 4px; margin-left: 25px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>Out Of Stock</a>
                                    {% endif %}
								</span>
								<p><b>Discount Price:</b>
                                    {% if product.discount %}
                                        &emsp; {{ product.price |mul:product.discount |div:100 |sub:product.price |mul:-1 }} &#36;
                                    {% else %}
                                        &emsp; 0 &#36;
                                    {% endif %}
                                </p>
								<p><b>Discount Percentage:</b>
                                    {% if product.discount %}
                                        &emsp; {{ product.discount }} &#37;
                                    {% else %}
                                        &emsp; 0 &#37;
                                    {% endif %}
                                </p>
                                <p><b>Category:</b>&emsp; {{ product.category }}</p>
                                <p><b>AVG Rate:</b>&emsp;
                                {% if product.avg_rate %}
                                    {{ product.avg_rate | floatformat:-2 }}
                                    &#47; {{ 5 }}
                                {% elif product.avg_rate == 0 %}
                                {{ 'Not Rated Yet' }}
                                {% endif %}
                                </p>
                                <p><b>Availability:</b>&emsp; {% if product.quantity == 1 or product.quantity > 1  %}{{ product.quantity }}{% elif product.quantity == 0 %}{{ 'Out Of Stock' }}{% endif %}</p>
                                <p><b>Puplished In:</b>&emsp; {{ product.added }}</p>
{#								<a href=""><img src="../../static/user/images/product-details/share.png" class="share img-responsive"  alt="" /></a>#}
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->

					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#details" data-toggle="tab">Product Details</a></li>
								<li><a href="#reviews" data-toggle="tab">Reviews ({{ reviews | length }})</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="details" >
                                <p style="padding: 50px; text-align: justify; color: #000; font-size: 18px; font-family: sans-serif;">{{ product.description }}</p>
							</div>

							<div class="tab-pane fade " id="reviews" >
								<div class="col-sm-12">
									<ul>
										{% if review %}
                                        <li><i class="fa fa-user" style="color: #FE980F;"></i>&ensp;{{ review.user.username }}</li> &emsp;
										<li><i class="fa fa-clock" style="color: #FE980F;"></i>&ensp;{{ review.added | timesince }} ago</li> &emsp;
                                            {% if request.user.username == review.user.username %}
                                                <a href="" data-toggle="modal" data-target="#delete_review{{ review.id }}">
{#                                                <span aria-hidden="true">&times;</span>#}
                                                    Delete
                                                </a>

                                                | <a href="" class="update_review_button">Update</a>
                                                <div class="update_review_form" style="display: none;">
                                                    {% include 'products/review_update_form.html' %}
                                                </div>
                                            {% endif %}
                                        {% include 'reviews/delete_review_modal.html' %}
                                        {% endif %}
									</ul>
                                    <div class="current_review" style="display: block;">
                                        {% if review.rate %}
                                            {% with ''|center:review.rate as range %}
                                            {% for star in range%}
                                            <i class="fa fa-star" style="color: #FE980F;"></i>
                                            {% endfor %}
                                            {% endwith %}
                                            &#47; 5
                                        {% else %}
                                        {{ 'Not Rated Yet' }}
                                        {% endif %}
                                        <p>{{ review.review }}</p>
                                    </div>
                                    <br>
                                    {% if review_form is None and request.user.is_authenticated %}
                                        {% include 'products/add_review_form.html' %}
                                    {% else %}
                                    {% endif %}
								</div>
							</div>

						</div>
					</div><!--/category-tab-->

					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
                                    {% for product in recommended %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
                                                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="image-thumbnail"></a>
                                                    <h2>&#36;{{ product.price }}</h2>
                                                    {% if product.discount %}
            {#                                            <h3 style="color: red;">{{ ((100 * product.discount) / product.price) | int}} &#37; OFF</h3>#}
                                                        <h3 style="color: red;">{{  product.discount }}  &#37; OFF</h3>
                                                    {% else %}
                                                        <h3 style="color: red;">0 &#37; OFF</h3>
                                                    {% endif %}
                                                    <p style="max-width: 252px; overflow: hidden;">{{ product.name | truncatechars:30 }}</p>
                                                    <p><b>AVG Rate:</b>&emsp;
                                                        {% if product.avg_rate %}
                                                            {{ product.avg_rate | floatformat:-2 }}
                                                            &#47; {{ 5 }}
                                                        {% elif product.avg_rate == 0 %}
                                                        {{ 'Not Rated Yet' }}
                                                        {% endif %}
                                                    </p>
                                                    {% if product.quantity == 1 or product.quantity > 1  %}
                                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                    {% elif product.quantity == 0 %}
                                                        <a href="" class="btn btn-danger" style="margin-bottom: 24px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>Out Of Stock</a>
                                                    {% endif %}
												</div>
											</div>
										</div>
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
					</div><!--/recommended_items-->

				</div>
			</div>
		</div>
	</section>

{% endblock %}