{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block body %}

	<section id="slider"><!--slider-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">

							<div class="item active">
                                {% for slider in active_slider %}
								<div class="col-sm-6">
									<h1><span>{{ slider.name }}</span></h1>
									<h2>&#36; {{ slider.price }}</h2>
                                    {% if slider.discount %}
                                        <h3 style="color: red;">{{  slider.discount }}  &#37; OFF</h3>
                                    {% else %}
                                        <h3 style="color: red;">0 &#37; OFF</h3>
                                    {% endif %}
									<p>{{ slider.description | truncatechars:30 }}</p>
                                    <p><b>AVG Rate:</b>&emsp;
                                        {% if slider.avg_rate %}
                                            {{ slider.avg_rate | floatformat:-2 }}
                                            &#47; {{ 5 }}
                                        {% elif slider.avg_rate == 0 %}
                                        {{ 'Not Rated Yet' }}
                                        {% endif %}
                                    </p>
                                    {% if slider.quantity == 1 or slider.quantity > 1  %}
                                        {% if request.user.is_authenticated %}
                                            <form action="{% url 'orders:order' id=slider.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ slider.id }}" name="id">
                                                <button class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
{#										    <a href="{% url 'orders:order' id=product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
                                            </form>
                                        {% else %}
                                            <a href="{% url 'accounts:login' %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Log In to buy</a>
                                        {% endif %}
                                    {% elif slider.quantity == 0 %}
                                        <a href="" class="btn btn-danger" style="margin-bottom: 24px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>Out Of Stock</a>
                                    {% endif %}
								</div>
								<div class="col-sm-6">
                                    <a href="{{ slider.get_absolute_url }}"><img src="{{ slider.image.url }}" class="girl img-responsive" style="max-width: 520px; height: 354px;" /></a>
{#									<img src="../static/user/images/home/pricing.png"  class="pricing" alt="" />#}
								</div>
                                {% endfor %}
							</div>

                            <div class="item">
                                {% for slider in non_active_slider_1 %}
								<div class="col-sm-6">
									<h1><span>{{ slider.name }}</span></h1>
									<h2>&#36; {{ slider.price }}</h2>
                                    {% if slider.discount %}
                                        <h3 style="color: red;">{{  slider.discount }}  &#37; OFF</h3>
                                    {% else %}
                                        <h3 style="color: red;">0 &#37; OFF</h3>
                                    {% endif %}
									<p>{{ slider.description | truncatechars:30 }}</p>
                                    <p><b>AVG Rate:</b>&emsp;
                                        {% if slider.avg_rate %}
                                            {{ slider.avg_rate | floatformat:-2 }}
                                            &#47; {{ 5 }}
                                        {% elif slider.avg_rate == 0 %}
                                        {{ 'Not Rated Yet' }}
                                        {% endif %}
                                    </p>
                                    {% if slider.quantity == 1 or slider.quantity > 1  %}
                                        {% if request.user.is_authenticated %}
                                            <form action="{% url 'orders:order' id=slider.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ slider.id }}" name="id">
                                                <button class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
{#										    <a href="{% url 'orders:order' id=product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
                                            </form>
                                        {% else %}
                                            <a href="{% url 'accounts:login' %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Log In to buy</a>
                                        {% endif %}
                                    {% elif slider.quantity == 0 %}
                                        <a href="" class="btn btn-danger" style="margin-bottom: 24px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>Out Of Stock</a>
                                    {% endif %}
								</div>
								<div class="col-sm-6">
                                    <a href="{{ slider.get_absolute_url }}"><img src="{{ slider.image.url }}" class="girl img-responsive" style="max-width: 520px; height: 354px;" /></a>
{#									<img src="../static/user/images/home/pricing.png"  class="pricing" alt="" />#}
								</div>
                                {% endfor %}
							</div>

                            <div class="item">
                                {% for slider in non_active_slider_2 %}
								<div class="col-sm-6">
									<h1><span>{{ slider.name }}</span></h1>
									<h2>&#36; {{ slider.price }}</h2>
                                    {% if slider.discount %}
                                        <h3 style="color: red;">{{  slider.discount }}  &#37; OFF</h3>
                                    {% else %}
                                        <h3 style="color: red;">0 &#37; OFF</h3>
                                    {% endif %}
									<p>{{ slider.description | truncatechars:30 }}</p>
                                    <p><b>AVG Rate:</b>&emsp;
                                        {% if slider.avg_rate %}
                                            {{ slider.avg_rate | floatformat:-2 }}
                                            &#47; {{ 5 }}
                                        {% elif slider.avg_rate == 0 %}
                                        {{ 'Not Rated Yet' }}
                                        {% endif %}
                                    </p>
                                    {% if slider.quantity == 1 or slider.quantity > 1  %}
                                        {% if request.user.is_authenticated %}
                                            <form action="{% url 'orders:order' id=slider.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ slider.id }}" name="id">
                                                <button class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
{#										    <a href="{% url 'orders:order' id=product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
                                            </form>
                                        {% else %}
                                            <a href="{% url 'accounts:login' %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Log In to buy</a>
                                        {% endif %}
                                    {% elif slider.quantity == 0 %}
                                        <a href="" class="btn btn-danger" style="margin-bottom: 24px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>Out Of Stock</a>
                                    {% endif %}
								</div>
								<div class="col-sm-6">
                                    <a href="{{ slider.get_absolute_url }}"><img src="{{ slider.image.url }}" class="girl img-responsive" style="max-width: 520px; height: 354px;" /></a>
{#									<img src="../static/user/images/home/pricing.png"  class="pricing" alt="" />#}
								</div>
                                {% endfor %}
							</div>

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->


	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categories</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->

                            {% for category in categories %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
    									<h4 class="panel-title"><a href="{{ category.get_absolute_categories_url }}">{{ category }} &emsp; ({{ category.number_of_products }})</a></h4>
                                    </div>
                                </div>
							{% endfor %}

						</div><!--/category-products-->



						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center" style="padding-bottom: 0; margin-bottom: 0;">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <label for="minimum_price">Minimum Price</label>
                                    <input type="number" name="minimum" minlength="1" class="form-control" placeholder="minimum price" id="minimum_price">
                                    <br>
                                    <label for="maximum_price">Maximum Price</label>
                                    <input type="number" name="maximum" maxlength="6" class="form-control" placeholder="maximum price" id="maximum_price">
                                    <br>
                                    <input type="submit" value="Go" class="btn btn-primary">
                                </form>
                                 <br />
{#								 <b class="pull-left">&#36; 1000</b> <b class="pull-right">&#36; 100000</b>#}
							</div>
						</div><!--/price-range-->


					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Latest Products</h2>

                        {% for product in latest_products %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
                                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="image-thumbnail"></a>
										<h2>&#36;{{ product.price }}</h2>
                                        {% if product.discount %}
{#                                            <h3 style="color: red;">{{ ((100 * product.discount) / product.price) | int}} &#37; OFF</h3>#}
                                            <h3 style="color: red;">{{  product.discount }}  &#37; OFF</h3>
                                        {% else %}
                                            <h3 style="color: red;">0 &#37; OFF</h3>
                                        {% endif %}
										<p style="max-width: 252px; overflow: hidden;">{{ product.name | truncatechars:30 }}</p>
                                        <p><b>AVG Rate:</b>&emsp;
                                        {% if product.avg_rate %}
                                            {{ product.avg_rate | floatformat:-2 }}
                                            &#47; {{ 5 }}
                                        {% elif product.avg_rate == 0 %}
                                        {{ 'Not Rated Yet' }}
                                        {% endif %}
                                        </p>
                                        {% if product.quantity == 1 or product.quantity > 1  %}
                                            {% if request.user.is_authenticated %}
                                                <form action="{% url 'orders:order' id=product.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ product.id }}" name="id">
                                                    <button class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
    {#										    <a href="{% url 'orders:order' id=product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
                                                </form>
                                            {% else %}
                                                <a href="{% url 'accounts:login' %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Log In to buy</a>
                                            {% endif %}
                                        {% elif product.quantity == 0 %}
                                            <a href="" class="btn btn-danger" style="margin-bottom: 24px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>Out Of Stock</a>
                                        {% endif %}
									</div>
{#									<div class="product-overlay">#}
{#										<div class="overlay-content">#}
{#											<h2>&#36;{{ product.price }}</h2>#}
{#                                            <h3 style="color: #fff;">{{ ((100 * product.discount) / product.price) | int}} &#37; OFF</h3>#}
{#											<p style="max-width: 252px; overflow: hidden;">{{ product.product_name | truncate(30) }}</p>#}
{#											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
{#										</div>#}
{#									</div>#}
                                    <img src="{% static 'new.png' %}" class="new" alt="" />
{#                                    <img src="{% static 'sale.png' %}" class="new" alt="" />#}
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
{#										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>#}
									</ul>
								</div>
							</div>
						</div>
                        {% endfor %}


					</div><!--features_items-->



					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">


								<div class="item active">

                                    {% for product in recommended %}
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="image-thumbnail"></a>
                                                    <h2>&#36;{{ product.price }}</h2>
                                                    {% if product.discount %}
            {#                                            <h3 style="color: red;">{{ ((100 * product.discount) / product.price) | int}} &#37; OFF</h3>#}
                                                        <h3 style="color: red;">{{  product.discount }}  &#37; OFF</h3>
                                                    {% else %}
                                                        <h3 style="color: red;">0 &#37; OFF</h3>
                                                    {% endif %}
                                                    <p style="max-width: 252px; overflow: hidden;">{{ product.name | truncatechars:30 }}</p>
                                                    <p><b>AVG Rate:</b>&emsp;
                                                        {% if product.avg_rate %}
                                                            {{ product.avg_rate | floatformat:-2 }}
                                                            &#47; {{ 5 }}
                                                        {% elif product.avg_rate == 0 %}
                                                        {{ 'Not Rated Yet' }}
                                                        {% endif %}
                                                    </p>
                                                    {% if product.quantity == 1 or product.quantity > 1  %}
                                                        {% if request.user.is_authenticated %}
                                                            <form action="{% url 'orders:order' id=product.id %}" method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" value="{{ product.id }}" name="id">
                                                                <button class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                {#										    <a href="{% url 'orders:order' id=product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
                                                            </form>
                                                        {% else %}
                                                            <a href="{% url 'accounts:login' %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Log In to buy</a>
                                                        {% endif %}
                                                    {% elif product.quantity == 0 %}
                                                        <a href="" class="btn btn-danger" style="margin-bottom: 24px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>Out Of Stock</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
{#                                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>#}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

								</div>


								<div class="item">


                                    {% for product in recommended_2 %}
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="image-thumbnail"></a>
                                                    <h2>&#36;{{ product.price }}</h2>
                                                    {% if product.discount %}
            {#                                            <h3 style="color: red;">{{ ((100 * product.discount) / product.price) | int}} &#37; OFF</h3>#}
                                                        <h3 style="color: red;">{{  product.discount }}  &#37; OFF</h3>
                                                    {% else %}
                                                        <h3 style="color: red;">0 &#37; OFF</h3>
                                                    {% endif %}
                                                    <p style="max-width: 252px; overflow: hidden;">{{ product.name | truncatechars:30 }}</p>
                                                    <p><b>AVG Rate:</b>&emsp;
                                                        {% if product.avg_rate %}
                                                            {{ product.avg_rate | floatformat:-2 }}
                                                            &#47; {{ 5 }}
                                                        {% elif product.avg_rate == 0 %}
                                                        {{ 'Not Rated Yet' }}
                                                        {% endif %}
                                                    </p>
                                                    {% if product.quantity == 1 or product.quantity > 1  %}
                                                        {% if request.user.is_authenticated %}
                                                            <form action="{% url 'orders:order' id=product.id %}" method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" value="{{ product.id }}" name="id">
                                                                <button class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                {#										    <a href="{% url 'orders:order' id=product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
                                                            </form>
                                                        {% else %}
                                                            <a href="{% url 'accounts:login' %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Log In to buy</a>
                                                        {% endif %}
                                                    {% elif product.quantity == 0 %}
                                                        <a href="" class="btn btn-danger" style="margin-bottom: 24px; border-radius: 0;" disabled=""><i class="fa fa-shopping-cart" style="margin-right: 5px;"></i>Out Of Stock</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="choose">
                                                <ul class="nav nav-pills nav-justified">
{#                                                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>#}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}


								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>
						</div>
					</div><!--/recommended_items-->

				</div>
			</div>
		</div>
	</section>

	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-shopper</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
						</div>
					</div>

                    <div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="{% url 'products:list' %}">Home</a></li>
								<li><a href="{% url 'products:all' %}">All Products</a></li>
								<li><a href="{% url 'accounts:register' %}">Register</a></li>
								<li><a href="{% url 'accounts:login' %}">Login</a></li>
							</ul>
						</div>
					</div>
                    <div class="col-sm-5">
                        <div class="single-widget">
                            <h2> Contact Us</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="{% url 'contact_us:contact_us' %}">Send Us Your Message</a></li>
                            </ul>
                        </div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="../static/user/images/home/map.png" alt="" />
							<p> &emsp; &emsp; Cairo, EG(Egypt)</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="footer-bottom">
			<div class="container-fluid">
				<div class="row">
					<p class="pull-left">Copyright © 2017 E-Shopper by OSAMA MOHAMED . All rights reserved.</p>
					<p class="pull-right">Designed and Developed by <span><a target="_blank" href="https://www.facebook.com/osama.agrfay">OSAMA MOHAMED</a></span></p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->

{% endblock %}
