<form action="{% url 'reviews:update' id=product.id %}" method="POST" class="form-group">
    {% csrf_token %}
    <textarea name="review"></textarea>
    <b>Rate: </b> &emsp;
    <select name="rate" style="width: 80px;" class="btn btn-default dropdown-toggle">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <br>
    <br>
    <button type="submit" class="btn btn-default pull-left">
        Update Review
    </button>
</form>